/* .div-center {
  text-align: center;
  font-family: courier;
} */
.App {
	text-align: center;
}
.app-logo {
	margin: 0px auto;
	height: 200px;
}
.app-title {
	/*  
  /* margin: 0px auto;  */
	text-align: center;
	font-size: 50px;
	background-color: silver;
	/* background-image: url(./assest/images/logo1.jpeg); */
	/* padding: 78px 160px;
    width: 50% */
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
} */

/* .div-search{
  margin: 70px;
  text-align: center;
}

h3{
  text-align: center;
}
.button{
  padding: 11px 24px;
} */
input {
	width: 20%;
	/* margin-left: 470px; */
	padding: 6px 24px;
}
.button {
	width: 10%;
	padding: 5px 18px;
	cursor: pointer;
}
.div-search {
	margin: 70px;
	text-align: center;
}
